// Primary color
$text-color: #323232;
$cta-color: #0095ff;
$text2-color: #afafaf;
$background-color: #ffffff;

// Secondary color
$video-compo-color: #000000;
$cta-hover-color: #0065ad;
$divider-color: #e1e1e1;
$form-field-color: #fafafa;