@use "./mixins" as *;
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentruetype"),
        url(../../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentruetype"),
        url(../../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

// Fonts size
@mixin page-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    @include tablet{
        font-size: 33px;
        line-height: 44px;
    }   
}
@mixin section-header {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700; 
}
@mixin sub-header {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    @include tablet{
        font-size: 14px;
        line-height: 22px;
    }
}
@mixin body-copy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    @include tablet{
        font-size: 14px;
        line-height: 22px;
    }
}
@mixin label-button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;   
}

// Font setup
body{
    font-family: "Avenir", serif;
    @include body-copy;
}
a{
    text-decoration: none;
}
.page-header{
    @include page-header;
}
.section-header{
    @include section-header;
}
.sub-header{
    @include sub-header;
}
