@use "../../styles/partials/color" as *;
@use "../../styles/partials/mixins" as *;
.upload{
    padding: 1rem;
    border-top: 0.125rem solid $divider-color;
    &__form{
        @include flexDisplay(column, flex-start, center);
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
    &__header{
        @include tablet{
            border-bottom: 0.125rem solid $divider-color;
            padding-bottom: 2rem;
        }
    }
    &__info-wrap{
        width: 100%;
        @include flexDisplay(column,space-between,center);
        @include tablet{
            border-bottom: 0.125rem solid $divider-color;
        }
        @include desktop{
            height: 20rem;
            flex-direction: column-reverse;
            justify-content: flex-end;
            flex-wrap: wrap-reverse;
        }
    }
    &__label{
        color: $text2-color;
        font-weight: 700;
        width: 100%;
        margin-bottom: 2rem;
        & > *{
        display: block;
        }
        &:nth-child(1){
            @include desktop{
                height: 15rem;
                width: 30%;
                order: 3;
            }
        }
        &:nth-child(2){
            @include desktop{
                width: 65%;
                order: 2
            }
        }
        &:nth-child(3){
            @include desktop{
                width: 65%;
                order: 1
            }
        }
    }
    &__input{
        width: 96%;
        border: 0.0625rem solid $divider-color;
        border-radius: .25rem;
        background-color: $form-field-color;
        padding-left: 1rem;
        &::placeholder{
            color: black;
            opacity: 1;
        }
    }
    &__thumb{
        width: 100%;
        @include tablet{
            width: 50%;
        }
        @include desktop{
            width: 100%;
        }
    }
    &__button{
        width: 100%;
        background-color: $cta-color;
        @include flexDisplay(row,flex-start,center);
        color: white;
        font-size: 1rem;
        border: none;
        border-radius: .25rem;
        @include tablet{
            width: 13rem;
            order: 2;
            margin-top: 2rem;
        }
        & >*:last-child{
            width: 100%;
            padding-right: 1.8rem;
        }
        &--cancel{
            color: $cta-color;
            font-weight: 700;
            margin-top: 2rem;
            border: none;
            background-color: transparent;
            font-size: 1rem;
            @include tablet{
                order: 1;
                padding-right: 6rem;
            }
        }
    }
}


#description{
    min-height: 5rem;
    font-family: inherit;
    padding-top: .5rem;
}
#title{
    min-height: 2rem;
}

.uploaded{
    height: 30rem;
    width: 100%;
    margin: 0 2rem;
    background-color: white;
    position: absolute;
    top: 15rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__icon{
        width: 10rem;
        padding-right: 2rem;
    }
    &__text{
        font-size: 2rem;
        line-height: 3rem;
    }
}