@use "../../styles/partials/color" as *;
@use "../../styles/partials/mixins" as *;
.video{
    margin: 0;
    &__player{
        &--show{
            background-color: black;
            width: 100%;
            aspect-ratio: 16 / 9;
            @include tablet{
                height: 25rem;
            }
        }
    }
}