@use "../../styles/partials/color" as *;
@use "../../styles/partials/mixins" as *;
.detail{
    padding: 1rem;
    @include tablet{
        padding: 1rem 2rem;
    }
    @include desktop{
        padding: 1rem 0 0 4rem;
    }
    &__wrap{
    border-bottom: 0.125rem solid $divider-color;
    border-top: 0.125rem solid $divider-color;
    @include flexDisplay(row, space-between, flex-start);
    @include tablet{
        border-top: none;
        
    }
    }
    &__left{
        width: 50%;
        @include tablet{
            @include flexDisplay(row, flex-start, normal)
        }
        &--author{
            font-weight: 700;
            @include tablet{
                padding-right: 2rem;
            }
        }
        &--date{
            color: $text2-color;
        }
    }
    &__right{
        width: 50%;
        @include tablet{
            @include flexDisplay(row, flex-end, normal)
        }
        @include desktop{
            padding-right: 2rem;
        }
        & > *{
            @include flexDisplay(row, flex-start, center);
            @include tablet{
                padding-left: 2rem;
            }
            & > *{
                padding-right: 1rem;
                color: $text2-color;
                @include tablet{
                    padding-right: .5rem;
                }
            }
        }

    }
    &__content{
        @include desktop{
            margin-bottom: 0;
            padding-bottom: 2rem;
            padding-right: 2rem;
        }
    }
}